<form (ngSubmit)="createTask()">
    <h1>Create a new Task</h1>
    <span>Task Title</span>
    <input placeholder="Enter task name" type="text" name="title" [(ngModel)]="newTask.title"><br><br>
    <span>Description </span>
    <input placeholder="Enter description" type="text" name="desc" [(ngModel)]="newTask.description"><br><br>
    <h3>What is The Priority of the Task?</h3>
    <select name="Priority" [(ngModel)]="newTask.priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </select>
    <div>
        <p>Select a User to Assign The Task To</p>
        <select name="Assignment" [(ngModel)]="newTask.assigned">

            <option *ngFor="let user of userList">{{user.firstName}} {{user.lastName}}</option>

        </select>
    </div>

    <label for="duedate">Due Date:</label>
    <input type="datetime-local" id="duedate" name="duedate" [(ngModel)]="newTask.dueDate">

    <button type="submit">Create Task</button>
</form>