.h1 {
  color: white;
  padding: 15px 0 0px 30px;
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: contain; 
  border-radius: 5px;
  margin-bottom: 15px;
}

.modern-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modern-button:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  max-width: 180px;
  text-align: center;
  background-color: #f5ebe0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: grey;
}

.card-text {
  margin-bottom: 10px;
  color: grey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}