<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side">

    <li class="links"><a routerLink="/home" class="link">Home</a></li>
    <li class="links"><a routerLink="/project" class="link">Your Projects</a></li>
    <li class="links"><a routerLink="/profile" class="link">Your Profile</a></li>
    <li class="links"><a routerLink="/create" class="link">Create a Task</a></li>

  </mat-drawer>


  <mat-toolbar class="toolbar">
    <button mat-icon-button class="menuButton" aria-label="menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/images/fullstackforceai3.webp" alt="Full Stack Force" class="span" style="height: 55px; width: auto;">
    <span class="spacer"></span>


    <a routerLink="register" title="Sign Up" class="hover-underline"> Sign Up </a>
    <span class="span"> </span>
    <a routerLink="login" title="Log in" class="hover-underline"> Sign In </a>
    <span class="span"> </span>    
    <button mat-icon-button class="homeButton" aria-label="home">
      <mat-icon fontIcon="home" routerLink="/home"></mat-icon>
    </button>

  </mat-toolbar>





  <router-outlet></router-outlet>
</mat-drawer-container>