.menuButton {
    margin-right: 15px;
}

.spacer {
    flex: 1 1 auto;
}

.container {
    background-color: #d5bdaf;

}
.toolbar {
    background-color: #e3d5ca;
}
.sidenav {
    background-color: #f5ebe0;
    width: 155px;
}
.links {
    margin: 3px 2px;
    border: 2px solid lightgray;
    border-radius: 8px;
    background-color: #007BFF;
}
.link {
    color: white;
    margin-top: 3px;
}
.span {
   margin-left: 25px;
   margin-right: 25px; 
}

.hover-underline {
    text-decoration: none; 
    position: relative;
  }
  
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor; /* Use current text color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .toolbar{
    padding: 30px;
}
