<mat-drawer-container class="container" >
  <mat-drawer #drawer class="sidenav" mode="side">

    <li class="links" *ngIf="userService.isLoggedIn()"><a routerLink="/home" class="link">Home</a></li>
    <li class="links" *ngIf="userService.isLoggedIn()"><a routerLink="/projects" class="link">Your Projects</a></li>
    <li class="links" *ngIf="userService.isLoggedIn()"><a routerLink="/profile" class="link">Your Tasks</a></li>
    <li class="links" *ngIf="userService.isLoggedIn()"><a routerLink="/create" class="link">Create a Task</a></li>
    <li class="links" *ngIf="!userService.isLoggedIn()"><a routerLink="/login" class="link">Sign In</a></li>
    <li class="links" *ngIf="!userService.isLoggedIn()"><a routerLink="/register" class="link">Sign Up</a></li>

  </mat-drawer>


  <mat-toolbar class="toolbar">
    <button mat-icon-button class="menuButton" aria-label="menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/images/fullstackmanagementai2.webp" alt="Full Stack Force" class="span" style="height: 50px; width: auto;" routerLink="/home">
    <span class="spacer"></span>


    <a routerLink="register" title="Sign Up" class="hover-underline"> Sign Up </a>
    <span class="span"> </span>
    <a routerLink="login" title="Log in" class="hover-underline"> Sign In </a>
    <span class="span"> </span>    

  </mat-toolbar>





  <router-outlet></router-outlet>
</mat-drawer-container>